.container-fluid {
  width: 50%;
  height: 50%;
  background-color: rgb(225, 225, 238);
  margin-top: 100px;
}
#ModalHeader {
  text-align: center;
  padding-top: 10px;
  border-bottom: 2px solid rgb(247, 198, 198);
}
#Modaltextarea {
  margin: 30px 10px 10px 10px;
  padding-top: 20px;
}
#Updatebtn {
  margin-right: 10px;
}
